<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/notice.css}"/>
</head>
<div layout:fragment="content">
    <div class="green_title">   <!--  초록색 타이틀 -->
        <div class="green_title_in">
            <span class="title">공지 게시판</span>
            <span class="vector">
                <img src="/img/Vector.png">
            </span>
        </div>
    </div>
    <table>

        <tr>
            <th>공지번호</th>
            <th>공지제목</th>
            <th>공지내용</th>
            <th>공지날짜</th>
        </tr>
        <tr th:each="notice : ${ noticeList }">
            <td><a th:href="@{/notice/detail(date=${notice.date})}" th:text="${notice.no}"></a></td>
            <td><a th:href="@{/notice/detail(date=${notice.date})}" th:text="${notice.title}"></a></td>
            <td><a th:text="${ notice.con }"></a></td>
            <td><a th:href="@{/notice/detail(date=${notice.date})}" th:text="${notice.date}"></a></td>

        </tr>
    </table>


    <div sec:authorize="hasAnyAuthority('m')">
    <button  onclick="location.href='/notice/create'">작성하기</button>
    </div>

</div>>

</html>