<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cov.bloom.message.model.dao.MessageMapper">

    <resultMap id="messageMap" type="com.cov.bloom.message.model.dto.MessageDTO">
        <id property="msgNo" column="MAS_NO"/>
        <result property="msgDate" column="MAS_DAY"/>
        <result property="msgContent" column="MAS_CONTENT"/>
        <result property="senderMemberEmail" column="SENDER_EMAIL"/>
        <result property="recipientMemberEmail" column="RECEIVE_EMAIL"/>
    </resultMap>
    <resultMap id="senderMap" type="com.cov.bloom.message.model.dto.MessageDTO">
        <id property="msgNo" column="MAS_NO"/>
        <result property="msgDate" column="MAS_DAY"/>
        <result property="msgContent" column="MAS_CONTENT"/>
        <result property="senderMemberEmail" column="SENDER_EMAIL"/>
        <result property="recipientMemberEmail" column="RECEIVE_EMAIL"/>
        <association property="nickname" resultMap="memberMap" column="MEMBER_NICKNAME"/>
    </resultMap>

    <resultMap id="memberMap" type="com.cov.bloom.member.model.dto.MemberDTO">
        <id property="no" column="member_no"/>
        <result property="email" column="member_email"/>
        <result property="nickname" column="member_nickname"/>
    </resultMap>

    <select id="selectTotalCount" resultType="_int" >
        SELECT
        COUNT(*)
        FROM MESSAGE
        WHERE RECEIVE_EMAIL = "qwer@dddd.com"
    </select>

    <select id="sendMessageList" resultMap="messageMap">
        SELECT M.MAS_NO,
                M.MAS_DAY,
                M.MAS_CONTENT,
                M.SENDER_EMAIL,
                M.RECEIVE_EMAIL,
                B.MEMBER_NICKNAME
        FROM MESSAGE M
        JOIN MEMBER B ON (B.MEMBER_EMAIL = M.SENDER_EMAIL)
        WHERE SENDER_EMAIL = #{ senderMemberEmail }

    </select>

    <select id="receiveMemberEmail" resultMap="messageMap">
        SELECT M.MAS_NO,
                    M.MAS_DAY,
                    M.MAS_CONTENT,
                    M.SENDER_EMAIL,
                    M.RECEIVE_EMAIL,
                    B.MEMBER_NICKNAME
        FROM MESSAGE M
        JOIN MEMBER B ON (B.MEMBER_EMAIL = M.RECEIVE_EMAIL)
        WHERE RECEIVE_EMAIL = #{ receiveMemberEmail }

    </select>

    <select id="findMemberId" resultMap="memberMap" >
        SELECT MEMBER_NO , MEMBER_NICKNAME
            FROM MEMBER
                WHERE MEMBER_EMAIL = #{ memberEmail }

    </select>

    <select id="findEmail" parameterType="int" resultMap="memberMap">
        SELECT MEMBER_EMAIL
            FROM MEMBER
                WHERE MEMBER_NO = #{ allMemberNo }
    </select>


    <insert id="regiMessage" >
        INSERT INTO MESSAGE
        (MAS_DAY,MAS_CONTENT,SENDER_EMAIL,RECEIVE_EMAIL)
        VALUES (NOW(),#{ msgContent },#{ senderMemberEmail },#{ recipientMemberEmail })

    </insert>
</mapper>