<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cov.bloom.mypage.model.dao.MypageMapper">

    <resultMap id="memberResultMap" type="com.cov.bloom.member.model.dto.LoginMemberDTO">
        <id property="no" column="member_no"/>
        <result property="email" column="member_email"/>
        <result property="password" column="member_password"/>
        <result property="nickname" column="member_nickname"/>
        <result property="name" column="member_name"/>
        <result property="phone" column="member_phone"/>
        <result property="auth" column="member_auth"/>
        <result property="status" column="member_status"/>
    </resultMap>



    <update id="updateNickname" parameterType="string">
        UPDATE MEMBER
        SET MEMBER_NICKNAME = #{ nickname }
        WHERE MEMBER_EMAIL = #{ memberName }

    </update>
    <update id="updatePhone" parameterType="string">
        UPDATE MEMBER
        SET MEMBER_PHONE = #{ phone }
        WHERE MEMBER_EMAIL = #{ memberName }

    </update>

    <update id="updatePW" parameterType="string">
        UPDATE MEMBER
        SET MEMBER_PASSWORD = #{ encpw }
        WHERE MEMBER_EMAIL = #{ memberName }

    </update>

    <select id="findByUsername" parameterType="string" resultMap="memberResultMap">
        SELECT
        MEMBER_NO
        ,MEMBER_EMAIL
        ,MEMBER_PASSWORD
        ,MEMBER_NICKNAME
        ,MEMBER_NAME
        ,MEMBER_PHONE
        ,member_auth
        ,member_status
        FROM member
        WHERE member_email = #{ email }
    </select>

    <delete id="deleteMember" parameterType="string">
        DELETE
        FROM MEMBER
        WHERE MEMBER_EMAIL = #{ memberName }

    </delete>







</mapper>