<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cov.bloom.order.model.dao.OrderDAO">

    <resultMap id="optionResultMap" type="com.cov.bloom.order.model.dto.OptionDTO">
        <id property="optionNo" column="option_no"/>
        <result property="portNo" column="port_no"/>
        <result property="optionPrice" column="option_price"/>
        <result property="optionDt" column="option_dt"/>
        <result property="optionFix" column="option_fix"/>
        <result property="optionInfo" column="option_info"/>
    </resultMap>

        <resultMap id="orderResultMap" type="com.cov.bloom.order.model.dto.OrderDTO">
            <id property="orderNo" column="order_no"/>
            <result property="tid" column="order_tid"/>
            <result property="orderDt" column="order_dt"/>
            <result property="orderFinalDt" column="order_finaldt"/>
            <result property="requestCon" column="request_con"/>
            <result property="requestStatus" column="request_status"/>
            <result property="orderFinal" column="option_final"/>
            <result property="optionNo" column="option_no"/>
            <result property="portNo" column="port_no"/>
            <result property="memberNo" column="member_no"/>
        </resultMap>

    <select id="checkOrderNo">
        select count(*)
        from orders
    </select>

    <insert id="registOrder" parameterType="com.cov.bloom.order.model.dto.OrderDTO">
        INSERT INTO ORDERS(
        order_no
        ,order_tid
        ,order_dt
        ,request_con
        ,request_status
        ,order_final
        ,option_no
        ,port_no
        ,member_no
        )
        VALUES(
        #{ orderNo }
        ,#{ tid }
        ,#{ orderDt }
        ,#{ requestCon }
        ,#{ requestStatus }
        ,#{ orderFinal }
        ,#{ optionNo }
        ,#{ portNo }
        ,#{ memberNo }
        )
    </insert>

    <insert id="registOrderFile" parameterType="java.util.List">
        INSERT INTO request_file(
        file_path
        ,file_name
        ,order_no
        )
        VALUES
        <foreach collection="list" separator="," item="item">
            (
            #{ item.filePath }
            ,#{ item.fileName }
            ,#{ item.orderNo }
            )
        </foreach>
    </insert>

    <select id="getOption" parameterType="string" resultMap="optionResultMap">
        select option_no,
        port_no,
        option_price,
        option_dt,
        option_fix,
        option_info
        from  port_option
        where option_no = #{ optionNo }
    </select>

    <!--결제 취소를 위한 정보-->
    <select id="selectOrder" parameterType="_int" resultType="hashmap">
        select
                od.order_tid
                ,op.option_price
        from    orders od
        join    port_option op on od.option_no = op.option_no
        where   od.order_no = #{ orderNO }
    </select>
</mapper>