<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/3333/failOrder.css">
</head>
<body>
    <div class="result">
        <div class="header">

        </div>
        <div class="main">
            <div class="top"></div>
            <div class="fail">
                <div class="title">
                    결제 실패
                </div>
                <div class="detail">
                    <div class="price">
                        <div class="price1">
                            결제 금액
                        </div>
                        <div class="price2">
                            110,000원
                        </div>
                    </div>
                    <div class="text1">
                        결제에 실패했습니다.
                    </div>
                    <div class="text2">
                        다시 결제 하시겠습니까?
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn retry">
                        다시 결제하기
                    </button>
                    <button class="btn gomain">
                        메인으로 가기
                    </button>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
    
    
</body>
</html>