<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/request.css}">
    <script th:src="@{/js/request.js}"></script>

</head>
<div layout:fragment="content">

<div class="request">

    <header class="header">

    </header>

    <div class="top"></div>

    <div class="reqtitle">
        <p>신청서</p>
    </div>

    <form th:action="@{/pay/ready}" id="order" method="post" onsubmit="return checkForm()" enctype="multipart/form-data">
        <input th:value="${portNo}" id="portNo" name="portNo" style="display: none">
        <div class="container">
            <div class="main">
                <div class="myroom">
                    <p>내 방</p>
                    <div class="pics">
                        <div class="pic" id="pic1"></div>
                        <div class="pic" id="pic2"></div>
                        <div class="pic" id="pic3"></div>
                        <div class="pic" id="pic4"></div>
                        <div class="pic" id="pic5"></div>
                    </div>
                </div>
                <div class="btnlabel">
                    <div class="btnlb upload"><label for="file1" id="upload">
                        사진첨부하기
                    </label></div>
                    <div class="btnlb delete"><label for="deletefile" id="deletelabel">
                        지우기
                    </label></div>
                    <input type="button" class="file" id="deletefile" style="display: none;" onclick="deleteFile()">

                    <input type="file" class="file" name="file[]" id="file1" accept="image/*" style="display: none;" onchange="viewImg(event)">
                    <input type="file" class="file" name="file[]" id="file2" accept="image/*" style="display: none;" onchange="viewImg(event)">
                    <input type="file" class="file" name="file[]" id="file3" accept="image/*" style="display: none;" onchange="viewImg(event)">
                    <input type="file" class="file" name="file[]" id="file4" accept="image/*" style="display: none;" onchange="viewImg(event)">
                    <input type="file" class="file" name="file[]" id="file5" accept="image/*" style="display: none;" onchange="viewImg(event)">
                    <!-- 경고용 -->
                    <input type="file" class="file" id="file6" accept="image/*" style="display: none;" onchange="viewImg(event)">
                </div>
                <div class="need">
                    <p>요구 사항</p>
                    <textarea class="text" name="requestCon" maxlength="3000" placeholder="내 방 평수는 필수 기재 사항입니다."></textarea>
                </div>
            </div>
            <div class="side">
                <div class="sidetop">
                    <div class="userinfo">
                        <div class="potitle">제목</div>
                        <div class="username">닉네임</div>
                    </div>
                </div>
                <div class="sidemenu">
                    <select class="option"  id="option" name="optionNo" onchange="selectOption()">
                        <option>선택</option>
                        <option value="1">
                            옵션 1
                        </option>
                        <option value="2">
                            옵션 2
                        </option>
                        <option value="3">
                            옵션 3
                        </option>
                    </select>
                    <div class="option2">
                        <div class="date">
                            <div class="date1">
                                <p>작업일</p>
                            </div>
                            <div class="date2">
                            </div>
                            <input class="optioninput" name="optionDt" id="date" value="" style="display:none">
                        </div>
                        <div class="fix">
                            <div class="fix1">
                                <p>수정횟수</p>
                            </div>
                            <div class="fix2">
                            </div>
                            <input class="optioninput" name="optionFix" id="fix" value="" style="display:none">
                        </div>
                        <div class="price">
                            <div class="price1">
                                <p>가격</p>
                            </div>
                            <div class="price2">
                            </div>
                            <input class="optioninput" name="optionPrice" id="price" value="" style="display:none">
                        </div>
                    </div>
                </div>
                <div class="totalprice">
                    <div class="totalprice1">
                        <p>결제금액</p>
                    </div>
                    <div class="totalprice2">
                    </div>
                </div>
                <div class="notice">
                    <a th:href="@{/main}" target="_blank">결제 전 안내사항</a>
                    <a th:href="@{/main}" target="_blank">개인정보 제3자 제공</a>
                </div>
                <div class="accept">
                    <p>위 내용을 확인하였고, 결제에 동의합니다.</p>
                </div>

                <div class="buttons">
                    <button class="btn pay" type="submit">결제하기</button><br>
                    <button class="btn cancel" type="button" onclick="goBack()">취소하기</button>
                </div>
            </div>
        </div>
    </form>

    <footer class="footer">

    </footer>


</div>
</div>