
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  </head>

  
  <body>
<div>
    <!-- 포트폴리오 사진 -->
    <div class="portfolio_contents ">
        <!-- 사진 -->
       
        <div class="portfolio_contents_right">
            <input type="file" class="photo_select" id="photo_select" accept="image/*" onchange="previewFile()">
            <!-- 사진 입력 -->
            <label for="photo_select"><img src="/img/photo_select_img.png"></label>
            <div class="selected_photobox" id="selected_photobox">
                <span class="selected_photobox_img">
                    <img src="img/selected_photo.png">
                </span>
                <span class="selected_photobox_img">
                    <img src="img/selected_photo.png">

                </span>
                <span class="selected_photobox_img">
                    <img src="img/selected_photo.png">

                </span>
                <span class="selected_photobox_img">
                    <img src="img/selected_photo.png">

                </span>
                <span class="selected_photobox_img">
                    <img src="img/selected_photo.png">

                </span>
                
            </div>
            
                
            </div>
        </div>

    </div>
</div>    
</div>
</body>