<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<footer th:fragment="footerFragment" class="footer">    <!-- footer -->
    <div class="inner">
        <div class="footer_inner_top">
            <strong class="footer_logo">Bloom</strong>
        </div>
        <div class="footer_inner_bottom">
            <div>
                <div class="policy">
                    <a href="">회사소개</a>
                    <a href="">이용약관</a>
                    <a href="">이용안내</a>
                    <a href="">개인정보처리방침</a>
                </div>
                <div>
                    <p class="footer_info company_info">
                        <span>(주)코브이</span>
                        <span>서울 종로구 인사동길 12 대일빌딩 7층 10강의실</span>
                        <br>
                        <span>사업자등록번호 : 001-01-00001 사업자정보확인</span>
                        <span>통신판매업신고번호 : 2024-가나다라-0001</span>
                        <br>
                        <span>개인정보보호책임자 : 코브이</span>
                        <span>팩스번호 : 02-001-0001</span>
                        <span>이메일: cove@cove.com</span>

                    </p>
                    <p class="footer_info copyright">
                        Copyright 2024. COVE All Rights Reserved.
                    </p>
                </div>
            </div>
            <div>
                <div class="cs_info">
                    <span>고객센터</span>
                    <strong>1588-0710</strong>
                </div>
                <div>
                    <p class="footer_info cs_info_time">
                        <span>평일 09:30 ~ 18:20</span>
                        <span>점심 13:20 ~ 14:30</span>
                        <span>휴무 주말/공휴일</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>