<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>비밀번호 찾기2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" th:href="@{/css/findPW2.css}"/>
  <link rel="stylesheet" th:href="@{/css/header-footer.css}"/>
    <script th:src="@{/js/findPW2.js}"></script>

    <script th:inline="javascript">
        var message = [[${message}]];
        if (message != null && message !== '') {
            alert(message);
        }
    </script>
   
</head>


    <div layout:fragment="content">   <!--  본문  -->
        <div class="green_title">   <!--  초록색 타이틀 -->
            <div class="green_title_in">
                <span class="title">비밀번호 찾기</span>
                <span class="vector">
                    <img src="/img/Vector.png">
                </span>
            </div>
        </div>

    <div class="main">
        <br><br><br><br>
        <form th:action="@{/member/findPW2}" method="post">
        <p>새로운 비밀번호</p>
        <input type="password" id="findpw1" name="password" placeholder="영문자,숫자 12~15자" oninput="validatePW1()">
        <div id="pwResult"></div>

        <p>비밀번호 확인</p>
        <input type="password" id="findpw2"  name="pw" placeholder="한번더 입력해주세요" oninput="validatePW2()">
        <div id="pw2Result"></div>
    <hr/>
    <br>
    <br>
    <br>
    <button class="findButton" id="findPWButton" disabled >수정하기</button>

        </form>
    </div>
    </div>




</html>