<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>아이디 찾기1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
  <link rel="stylesheet" href="https://fonts.goo gleapis.com/css?family=Noto+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/common.css"/>
  <link rel="stylesheet" href="./styles/headerfooter.css"/>
  
    
</head>
<body>
    <header>    <!-- header -->
        <div class="inner">
            <span id="bloom">Bloom</span>
            <span id="main_menu">
                <a href="">MAIN</a>
                <a href="">NOTICE</a>
                <a href="">CONTACT</a>
            </span>
            <span id="lnb">
                <a href="">MESSAGE</a>
                &nbsp; |  &nbsp;
                <a href="">MY PAGE</a>
                &nbsp; |  &nbsp;
                <a href="">LOGIN</a>
                &nbsp; |  &nbsp;
                <a href="">JOIN</a>
            </span>
        </div>
    </header>
    <div>   <!--  본문  -->
        <div class="green_title">   <!--  초록색 타이틀 -->
            <div class="green_title_in">
                <span class="title">아이디 찾기</span>
                <span class="vector">
                    <img src="/img/Vector.png">
                </span>
            </div>
        </div>

    <div class="main">
        <br><br><br><br>
    <p class="title">이름</p><br>
    <input type="text" class="textbox" placeholder="이름을 입력해주세요">
    <hr/>
    <p class="title">전화번호</p><br>
    <input type="text" class="textbox" placeholder="전화번호를 입력해주세요">
    <hr/>
    <br>
   
    <button class="findButton">아이디찾기</button>
    </div>


</body>