<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>블룸 로그인</title>
    <link rel="stylesheet" th:href="@{/css/bloomLogIn.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>


</head>



<div layout:fragment="content">


<!--  본문  -->
<div class="green_title"> <!--  초록색 타이틀 -->
    <div class="green_title_in">
        <span class="title">로그인</span>
        <span class="vector">
                <img src="/img/Vector.png">
            </span>
    </div>
</div>




<div class="main">
    <br><br>
    <form th:action="@{/auth/login}" th:method="post">
    <p class="emailTitle">이메일</p>
    <input type="text" class="email" name="email" placeholder="이메일을 입력하세요" >
    <p class="passwordTitle">비밀번호</p>
    <input type="password" class="password" name="password" placeholder="비밀번호를 입력하세요">
    <input type="submit" class="logInButton" value="로그인 하기">
    </form>

    <div class="buttonGroup">
        <button class="findButton">아이디/비밀번호 찾기</button>

        <button class="signInButton" onclick="location.href='/member/signin'">회원가입</button>
    </div>
</div>



</div>



</html>


