<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>판매자 등록</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/common.css"/>
  <link rel="stylesheet" href="./styles/headerfooter.css"/>
     

</head>
<bdoy>
    <header>    <!-- header -->
        <div class="inner">
            <span id="bloom">Bloom</span>
            <span id="main_menu">
                <a href="">MAIN</a>
                <a href="">NOTICE</a>
                <a href="">CONTACT</a>
            </span>
            <span id="lnb">
                <a href="">MESSAGE</a>
                &nbsp; |  &nbsp;
                <a href="">MY PAGE</a>
                &nbsp; |  &nbsp;
                <a href="">LOGIN</a>
                &nbsp; |  &nbsp;
                <a href="">JOIN</a>
            </span>
        </div>
    </header>
    <div>   <!--  본문  -->
        <div class="green_title">   <!--  초록색 타이틀 -->
            <div class="green_title_in">
                <span class="title">판매자 등록</span>
                <span class="vector">
                    <img src="/img/Vector.png">
                </span>
            </div>
        </div>
    <div class="main">
        <br><br><br><br>

    <p style="font-size: 40px; font-weight: 700;">판매자 등록 약관</p>
    <hr/>
        <ul style="font-size: 20px; font-weight: 700;" >
            <li>전문가는 판매 게시글 등록 시 의뢰인이 구매서비스에 대한 정보를 확인할 수 있도록<br>
                다음과 같은 사항을 정확하게 기재하여야 합니다.<br></li>
            <li>연락 가능한 번호, 프로필 정보, 판매 가격, 특별한 거래 조건이 있거나 수정, <br>
                반품 비용 등 추가되는 비용이 있는 경우 그에 관련된 사항</li>
           <li>회사는 전문가의 판매 게시글 등록이 있으면 이를 검토하여 승인하며<br> 
               전문가는 승인된 후에 판매할 수 있습니다.</li>
            <li>전문가는 판매 게시글 등록이 승인된 이후에도 그 내용을 수정할 수 있습니다.<br>
                 단, 수정되기 이전에 판매된 건에 대해서는 판매 시점의 정보가 적용됩니다.</li>
            <li>전문가는 판매 게시글 등록이 승인된 이후 별도의 기한 없이 판매를 지속할 수 있습니다.<br> 
                다만, 본 약관에서 정한 바에 따라 회원자격이 정지되거나<br> 
                서비스의 이용 제한, 기타 필요한 조치가 취해지는 등 판매 활동이 제한될 수 있으며,<br> 
                이 경우 회사는 판매 가능 여부를 재검토할 수 있습니다.
            </li>


        </ul>
        <div>
            <input type="checkbox" id="serviceAgreement" name="serviceAgreement"/>
            <label for="serviceAgreement" style="font-size: 20px; font-weight: 600;">판매 약관에 동의합니다.<a style="color: red;">(필수)</a></label>
            
            
        </div>
    </input>
    <br><br>
    <button class="findButton">판매자 등록하기</button>
    </div>




</bdoy>