<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>블룸 회원가입</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Old+Mincho%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"  th:href="@{/css/bloomSignIn.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/signinModal1.css}"/>

    <script th:src="@{/js/signin.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>




</head>
<div layout:fragment="content">

<!--  본문  -->
<div class="green_title"> <!--  초록색 타이틀 -->
    <div class="green_title_in">
        <span class="title">회원가입</span>
        <span class="vector">
                <img src="/img/Vector.png">
            </span>
    </div>
</div>

<div class="main">
    <br><br>
    <!-- <div class="signInLogo">Sign in</div> -->
    <form action="/member/signin" method="post">
    <div class="memberInput">




        <p class="Title">이메일 입력</p>
        <input type="text" id="email" name="email" placeholder="이메일을 입력해주세요">
        <br>
        <button type="button"  onclick="duplEmail()">인증번호 발송</button>
        <br>



        <input type="text" id="authCode" name="authCode" placeholder="인증번호를 입력해주세요."><br>
        <button type="button" onclick="codeSend()">인증하기</button>

        <br>


<!--        <button onclick="validateEmail()">이메일유효성</button>-->

        <p class="Title">비밀번호</p>
        <input type="password" id="pw" name="password" placeholder="영문자,숫자 12~15자" oninput="validatePW()">
        <div id="pwResult" class="result"></div>

        <p class="Title">비밀번호 확인</p>
        <input type="password" id="pw2"  name="password2" placeholder="한번더 입력해주세요" oninput="validatePW2()">
        <div id="pw2Result" class="result"></div>

        <p class="Title">이름</p>
        <input type="text" id="name" name="name" placeholder="한글,영문자 2~20자" oninput="validateName()">
        <div id="nameResult" class="result"></div>

        <p class="Title">닉네임</p>
        <input type="text" id="nickname" name="nickname" placeholder="한글,영문자,숫자 3~20자" oninput="validateNickname()">
        <div id="nicknameResult" class="result"></div>
        <p class="Title">전화번호</p>
        <input type="text" id="phone" name="phone" placeholder=" ' - ' 를빼고 입력하세요" oninput="validatePhone()">
        <div id="phoneResult" class="result"></div>

    </div>




    <br><br>

    <fieldset class="fieldset">

        <div>
            <input type="checkbox" id="ageLimit" name="ageLimit" onclick="age()"/>
            <label for="ageLimit">만 14세 이상입니다.<a style="color: red;">(필수)</a></label>
        </div>

        <div>
            <input type="checkbox" id="serviceAgreement" name="serviceAgreement" onclick="service()"/>
            <label for="serviceAgreement">서비스 이용약관에 동의합니다.<a style="color: red;">(필수)</a></label>
            <a class="modify" id="modalBtn" type="button" >보기</a>
        </div>

        <div>
            <input type="checkbox" id="privateInfoAgreement" name="privateInfoAgreement" onclick="privateInfo()"/>
            <label for="privateInfoAgreement">개인정보 수집/이용에 동의합니다. <a style="color: red;">(필수)</a></label>
            <a class="modify" id="modalBtn2" >보기</a>

        </div>
    </fieldset>
        <button type="submit" id="signinButton" class="submitButton"  disabled>가입하기</button>
    </form>





        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeBtn">&times;</span>

              <p class="modal-body">
                <div th:replace="~{content/member/agreement.html}"></div>
              </p>


            </div>
        </div>


    <div id="myModal2" class="modal">
        <div class="modal-content">
            <span class="close" id="closeBtn2">&times;</span>

            <p class="modal-body">
            <div th:replace="~{content/member/agreement2.html}"></div>
            </p>


        </div>
    </div>






</div>
</div>



</html>