.container{
  display: flex;
  position: relative;
  flex-direction: row;

  
 
}
.containerButton{
  margin-left: 25px;
  margin-top: 150px;
  width: 200px;

}

h1{
  
  border: solid 0.1rem #a2a2a2;
  box-sizing: border-box;
  border-width: 0 0 1px;
  width: 844px;
}
.mypageTitle{
  margin-left: 250px;
  color: #878787;
}
.content{
  margin-left: 400px;
  border-width: 0 0 0px;
  text-align: center;
  background-color: transparent;
  font-size: 15px;

  
  
  
  
}
.Button{
width: 150px;

  position: relative;
  font-size: 18px;
  color: #000000;
  display: flex;

  border: solid 0.1rem #878787;
  box-sizing: border-box;
 background-color: transparent;
  text-align: center;
  border-width: 0 0 1px;
  outline: none;
  cursor: pointer;
  
}
.cancelButton{
width: 150px;
overflow: hidden;
position: relative;
font-size: 18px;
color: #a2a2a2;
display: flex;
align-items: center;
border: solid 0.1rem #a2a2a2;
box-sizing: border-box;
background-color: transparent;
text-align: center;
border-width: 0 0 1px;
outline: none;
cursor: pointer;
}
.modify{
  border-color: transparent;
  width: 55px;
  font-weight: 600;
  background-color: #F5D14F;
  border-radius: 2rem;
}
hr {
  margin-left: 275px;
  width : 50%;
  color: #a2a2a2;

 

}

.Title{
  margin-top: 40px;
  margin-left: 100px;


}

.textbox{

  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  font-family: "Noto Sans KR", 'Source Sans Pro';
  border: solid 0.1rem #9d9d9d;
  border-width: 0 0 1px;
  overflow: hidden;

}

.verifyButton{

  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  font-family: Noto Sans KR, 'Source Sans Pro';
  background-color: #25422a;
  border-radius: 2rem;
  border-color: transparent;
}
.result{
  margin-left: 550px;
  color: #878787;
}