table{
        font-family: 'Arial', sans-serif; /* 폰트 스타일 */
        width: 100%; /* 테이블 너비 */
        border-collapse: collapse; /* 테이블 사이 간격 없애기 */
        padding: 8px;

}

/*th{*/
/*        background-color: #b0b0b0; !* 배경색 *!*/
/*        color: white; !* 글자색 *!*/
/*        padding: 10px; !* 여백 *!*/
/*        text-align: center; !* 텍스트 정렬 *!*/

/*}*/

/*td{*/
/*        border-bottom: 1px solid #ddd; !* 행 사이의 경계선 *!*/
/*        padding: 8px; !* 여백 *!*/
/*        text-align: center;*/
/*}*/

td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        overflow: hidden;
}
th {
        padding: 10px;
        text-align: center;
}
button{
        margin-left: 1250px;
        width: 7.9rem;
        height: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        font-family: "Noto Sans KR", 'Source Sans Pro';
        background-color: #25422a;
        border-radius: 2rem;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;

}