.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticetitle{
    margin-left: -670px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.cancelButton{
    margin-left: 600px;
    width: 170px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #878787;
    border-radius: 2rem;
    flex-shrink: 0;
    border: none;
    margin-right: 15px;
}

.registButton{
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #25422a;
    border-radius: 2rem;
    flex-shrink: 0;
    border: none;
}

.textbox{
    margin-left: -700px;
    box-sizing: border-box;
    padding: 1rem 2rem 0.6rem 1.6rem;
    width: 15rem;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2575;
    font-family: "Noto Sans KR", 'Source Sans Pro';
    border: solid 0.1rem #9d9d9d;
    border-width: 0 0 1px;
    background-color: transparent;

}
.text-input{
    text-align: center;
}

.deleteButton{
    margin-left: 785px;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    font-family: Noto Sans KR, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #25422a;
    border-radius: 2rem;
    flex-shrink: 0;
    border: none;
    margin-top: -70px;
   text-decoration: none;
    margin-bottom: 10px;
}