<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>마이페이지 판매자 내정보</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
    <link rel="stylesheet" th:href="@{/css/bloomMyPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/modal.css}"/>
    <script th:src="@{/js/myPage.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>


<div layout:fragment="content">
        <!--  본문  -->
            <div class="green_title">   <!--  초록색 타이틀 -->
                <div class="green_title_in">
                    <span class="title">마이 페이지</span>
                    <span class="vector">
                        <img src="/img/Vector.png">
                    </span>
                </div>
            </div>
    <div class="container">
        <div class="containerButton">

            <div sec:authorize="hasAnyAuthority('s')">
          <button class="Button">내 정보</button><br>
          <button class="Button" onclick="checkPortfolioExistence()">포트폴리오</button><br>
          <button class="Button">판매내역</button><br>
          <button class="Button">정산</button><br>

            <button class="Button" onclick="alert('로그아웃 되었습니다. 다시 로그인 해주세요'),location.href='/mypage/customer'">의뢰인 전환</button><br><br><br><br><br><br><br>
          <button class="cancelButton" onclick="location.href='/mypage/unRegister1'">회원탈퇴</button><br>
            </div>

            <div sec:authorize="hasAnyAuthority('c')">
                <button class="Button">내 정보</button><br>
                <button class="Button">주문내역</button><br>
                <button class="Button" onclick="location.href='/mypage/salesRegist'">판매자 등록</button><br>
                <button class="cancelButton" onclick="location.href='/mypage/unRegister1'">회원탈퇴</button><br>
            </div>

        </div>
        <div class="main">
            <h1>내 정보</h1><br>
            <p class="mypageTitle">이메일</p><br>
            <input type="text" class="content" th:value="${member.email}"disabled><br>
            <hr/>
            <p class="mypageTitle">닉네임</p><br>
            <input type="text"  id="nickname" class="content" th:value="${member.nickname}" onblur="updateNickname()"  disabled placeholder="한글,영문자,숫자 3~20자">
            <button class="modify" onclick="activateNickname()" >수정</button><br>
            <hr/>
            <div id="nicknameResult" class="result"></div>


            <p class="mypageTitle">이름</p><br>
            <input type="text" class="content" th:value="${member.name}"disabled><br>
            <hr/>
            <p class="mypageTitle">전화번호</p><br>
            <input type="text" class="content" id="phone" th:value="${member.phone}"disabled onblur="updatePhone()" placeholder="-제외하고 입력해주세요">
            <button class="modify" onclick="activatePhone()">수정</button><br>
            <hr/>
            <div id="phoneResult" class="result"></div>

            <p class="mypageTitle">비밀번호</p><br>
            <input type="password" id="pw" class="content" th:value="${member.password}"disabled onblur="updatePW()" placeholder="12~15자리입니다.">
            <button class="modify" id="modalBtn">수정</button>
            <hr/>
            <div id="pwResult" class="result"></div>


            <label class="member_no" th:text="${member.no}" style="display: none" ></label>


            <!-- 모달 버튼 -->


            <!-- 모달 창 -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeBtn">&times;</span>
                    <p class="Title">로그인메일로 인증번호 발송되었습니다.</p>
                    <br><br><br>
                    <input type="text" id="authCode" class="textbox" placeholder="인증번호를 입력해주세요" style="margin-left: 100px">
                    <button onclick="codeSend()" class="verifyButton" >인증하기</button>

                </div>
            </div>

            <br>
            <br><br>
        </div>
    </div>

</div>
</html>