<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>마이페이지 판매내역</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
    <link rel="stylesheet" th:href="@{/css/orderSaleList.css}">
    <script th:src="@{/js/myPage.js}"></script>

</head>

<div layout:fragment="content">
    <div class="green_title">   <!--  초록색 타이틀 -->
        <div class="green_title_in">
            <span class="title">마이 페이지</span>
            <span class="vector">
                        <img src="/img/Vector.png">
                    </span>
        </div>
    </div>
<div class="container">
    <div class="containerButton">
        <button class="Button" th:onclick="|location.href='@{/mypage/main}'|">내 정보</button><br>
        <button class="Button" onclick="checkPortfolioExistence()">포트폴리오</button><br>
        <button class="Button" th:onclick="|location.href='@{/mypage/orderSalelist}'|">판매내역</button><br>
        <button class="Button">정산</button><br>
        <button class="Button">의뢰인 전환</button><br><br><br><br><br><br><br>
        <button class="cancelButton">회원탈퇴</button><br>
    </div>
    <div class="main">
        <h1>판매내역</h1>
        <div class="orderCon">
            <table class="orderList">
                <thead>
                <tr id="tablehead">
                    <th scope="col" style="width: 10%">번호</th>
                    <th scope="col" style="width: 25%">제목</th>
                    <th scope="col" style="width: 10%">구매자</th>
                    <th scope="col" style="width: 15%">신청일</th>
                    <th scope="col" style="width: 15%">마감일</th>
                    <th scope="col" style="width: 15%">결제금액</th>
                    <th scope="col" style="width: 10%">상태</th>
                </tr>
                </thead>
                <tbody th:each="sale:${saleList}">
                <tr>
                    <td th:text="${sale.orderNo}"></td>
                    <td>
                        <a th:href="@{/mypage/orderDetail(orderNo=${sale.orderNo})}" th:text="${sale.portTitle}"></a>
                    </td>
                    <td th:text="${sale.memberNick}"></td>
                    <td th:text="${sale.orderDt}"></td>
                    <td th:text="${sale.orderFinalDt}"></td>
                    <td th:text="|${sale.price} 원|"></td>
                    <td th:switch="${sale.requestStatus}">
                        <span th:case="W">대기</span>
                        <span th:case="P">작업중</span>
                        <span th:case="C">취소</span>
                        <span th:case="D">완료</span>
                    </td>
                </tr>
                </tbody>
<!--                <tbody th:each="order:${myorder}">-->
<!--                <tr>-->
<!--                    <td th:text="${order.orderNo}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="@{/mypage/orderDetail(orderNo=${order.orderNo})}" th:text="${order.portTitle}"></a>-->
<!--                    </td>-->
<!--                    <td th:text="${order.memberNick}"></td>-->
<!--                    <td th:text="${order.orderDt}"></td>-->
<!--                    <td th:text="${order.orderFinalDt}"></td>-->
<!--                    <td th:text="${order.price}"></td>-->
<!--                    <td th:switch="${order.requestStatus}">-->
<!--                        <span th:case="W">대기</span>-->
<!--                        <span th:case="P">작업중</span>-->
<!--                        <span th:case="C">취소</span>-->
<!--                        <span th:case="D">완료</span>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
            </table>

            <div class="pagingArea" align="center">

                <!--이전버튼-->
                <button
                        th:onclick="'location.href=\'/mypage/orderSalelist?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"
                        th:disabled="${selectCriteria.pageNo == 1}"><
                </button>

                <!--숫자버튼-->
                <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                    <button
                            th:text="${ page }"
                            th:onclick="'location.href=\'/mypage/orderSalelist?currentPage='+ @{${page}} + '\''"
                            th:disabled="${ selectCriteria.pageNo eq page }">
                    </button>
                </th:block>

                <!--다음버튼-->
                <button
                        th:onclick="'location.href=\'/mypage/orderSalelist?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"
                        th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
