<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>회원 탈퇴2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/header-footer.css}"/>
    <script th:src="@{/js/unRegister.js}"></script>
  
</head>


    

    <div layout:fragment="content">   <!--  본문  -->
        <div class="green_title">   <!--  초록색 타이틀 -->
            <div class="green_title_in">
                <span class="title">회원 탈퇴</span>
                <span class="vector">
                    <img src="/img/Vector.png">
                </span>
            </div>
        </div>
    <div class="main">
        <br><br><br><br>

    <p style="font-size: 40px; font-weight: 700;">회원탈퇴 약관</p>
    <hr/>
        <ul style="font-size: 20px; font-weight: 700;" >
            <li>현재 사용중인 계정 정보는 회원 탈퇴 후 복구가 불가합니다.</li>
            <li>진행 중인 거래건이 있거나 페널티 조치 중인 경우 탈퇴 신청이 불가합니다.</li>
            <li>탈퇴 후 회원님의 정보는 전자상거래 소비자보호법에 의거한 블룸 <br>개인정보처리방침에 따라 관리됩니다.</li>
            <li>현재 보유 중인 쿠폰 및 무상지급된 블룸캐시와 비즈머니는 모두 자동 소멸되며,<br> 탈퇴 후 재가입하더라도 이미 소멸되었기 때문에 양도되지 않습니다.</li>
            <li>구매후기 및 답글은 탈퇴 시 자동 삭제되지 않습니다. 탈퇴 후에는 계정 정보가 삭제되어<br> 본인 확인이 불가하므로, 탈퇴 신청 전에 게시글 삭제를 요청해 주시기 바랍니다.</li>
            <li>충전 캐시, 충전 비즈머니 또는 수익금이 있을 경우, 캐시 환불, 비즈머니 환불 및<br> 수익금 출금을 통해 정산이 완료된 이후 탈퇴를 신청하셔야 합니다.<br>무상으로 지급된 블룸캐시는 탈퇴와 함께 자동 소멸됩니다.</li>
        </ul>
        <div>
            <input type="checkbox" id="serviceAgreement" name="serviceAgreement" onclick="agree()"/>
            <label for="serviceAgreement" style="font-size: 20px; font-weight: 600;">서비스 이용약관에 동의합니다.<a style="color: red;">(필수)</a></label>
            
            
        </div>
    </input>
    <br><br>
    <button class="findButton" id="delete" disabled onclick="location.href='/mypage/delete'">탈퇴하기</button>
    </div>




</div>
</html>