<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>회원 탈퇴1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
    <link rel="stylesheet" th:href="@{/css/unRegister1.css}"/>
  <link rel="stylesheet" th:href="@{/css/header-footer.css}"/>

</head>



<div layout:fragment="content">  <!--  본문  -->
        <div class="green_title">   <!--  초록색 타이틀 -->
            <div class="green_title_in">
                <span class="title">회원 탈퇴</span>
                <span class="vector">
                    <img src="/img/Vector.png">
                </span>
            </div>
        </div>
    <div class="main">
    <p>비밀번호 확인</p><br>
        <form th:action="@{/mypage/passCheck}" th:method="post">
    <input type="password" id="pw" name="pw" class="password" placeholder="비밀번호를 입력해주세요"><br>
    <div id="pwResult"></div>
        <button class="Button">확인</button>
        </form>
        <br><br><br><br>
    </div>



</div>




</html>