<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/portfolioRegist.css}">
    <script src="/js/portfolioRegist.js"></script>

    <!--    <script type="text/javascript" th:src="@{../static/js/portfoiloRegist.js}"></script>-->
    <title>Title</title>

</head>
<th:block layout:fragment="content">
    <!-- ------------------------------------------------------------------------------- -->
    <form id="registForm" action="/portfolio/regist" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div>
            <!-- 본문 + Bloom Your Room -->
            <div>
                <!-- 본문 -->
                <div class="inner">
                    <div class="title biggest">
                        <!-- 타이틀 -->
                        <strong >포트폴리오 등록</strong>
                    </div>
                    <div class="contents">
                        <!-- 진짜본문 -->

                        <div>
                            <!-- 포트폴리오 제목 -->
                            <div class="portfolio_contents title">
                                <!-- 제목 -->
                                <strong class="portfolio_contents_left">포트폴리오 제목 <span class="star">*</span></strong>
                                <input type="text" id="portTitle" name="portTitle" class="input titleplaceholder portfolio_contents_right" placeholder="(최대 30자)"  th:value="${portfolio?.portTitle}" maxlength="31" oninput="validateTitle()">
                            </div>
                        </div>

                        <div>
                            <!-- 포트폴리오 설명 -->
                            <div class="portfolio_contents">
                                <!-- 설명 -->
                                <strong class="portfolio_contents_left">포트폴리오 설명<span class="star">*</span></strong>
                                <textarea class="portfolio_contents_right textarea portfolio_description_textarea portfolioplaceholder" name="portCon" id="portCon"  placeholder="(최대 2000자)" maxlength="2001" oninput="validateCon()">[[${portfolio?.portCon}]]</textarea>

                            </div>
                        </div>

                        <div>
                            <!-- 포트폴리오 사진 -->
                            <div class="portfolio_contents ">
                                <!-- 사진 -->
                                <span>
                                    <strong class="portfolio_contents_left">포트폴리오 사진<span class="star">*</span></strong>
                                    <p class="portfolio_contents_left photouploadtext">사진은 최대 4장까지 업로드<br>할 수 있습니다.</p>
                            </span>
                                <div class="portfolio_contents_right">
                                    <div class="photo">
                                        <div class="selecting_photo">
                                            <div class="selecting_photo_two">

                                                <input type="file" class="photo_select" id="file1" name="file1" accept="image/*" onchange="previewFile(1)">
                                                <!-- 사진 입력 -->
                                                <div class="thumbnail">
                                                    <label class="selected_photobox" id="testLabel1" onclick="beforePreviewFile(1)">
                                                        <img src="/img/photo_select_img.png" id="test1">
                                                    </label>
                                                    <div class="thumbnail_des">대표 사진<span class="star">*</span></div>
                                                </div>


                                                <input type="file" class="photo_select" id="file2" name="file2" accept="image/*" onchange="previewFile(2)">
                                                <!-- 사진 입력 -->
                                                <label class="selected_photobox" onclick="beforePreviewFile(2)" id="testLabel2">
                                                    <img src="/img/photo_select_img.png" id="test2">
                                                </label>

                                            </div>
                                            <div class="selecting_photo_two">
                                                <input type="file" class="photo_select" id="file3" name="file3" accept="image/*" onchange="previewFile(3)">
                                                <!-- 사진 입력 -->
                                                <label class="selected_photobox" onclick="beforePreviewFile(3)" id="testLabel3">
                                                    <img src="/img/photo_select_img.png" id="test3">
                                                </label>


                                                <input type="file" class="photo_select" id="file4" name="file4" accept="image/*" onchange="previewFile(4)">
                                                <!-- 사진 입력 -->
                                                <label class="selected_photobox" onclick="beforePreviewFile(4)" id="testLabel4">
                                                    <img src="/img/photo_select_img.png" id="test4">
                                                </label>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="photo_delete">
                                        <input type="button" class="photo_delete_btn" onclick="photoDelete()" value="전체 삭제하기">
                                    </div>
                                </div>

                            </div>

                            <script>

                                function beforePreviewFile(num) {
                                    document.getElementById('file' + num).click();
                                }

                                function previewFile(num){

                                    const fileInput = document.getElementById('file' + num);
                                    console.log(fileInput);

                                    // 현재 label 이미지를 선택한 이미지로 바꾸기 (클릭시 다른 사진으로 바꾸기 가능)
                                    const reader = new FileReader();
                                    // const previewPhoto = document.querySelector('.selected_photobox');
                                    const previewPhoto = document.getElementById('testLabel' + num);

                                    console.log(previewPhoto);
                                    // console.log('aaa', fileInput.files[0]);

                                    reader.readAsDataURL(fileInput.files[0]);
                                    console.log('#test1 : ' + previewPhoto.querySelector('#test1'));

                                    reader.onload = function(e) {
                                        switch(num) {
                                            case 1 : previewPhoto.querySelector('#test1').src = e.target.result;
                                                previewPhoto.querySelector('#test1').style.borderRadius = '20px';
                                                break;
                                            case 2 : previewPhoto.querySelector('#test2').src = e.target.result;
                                                previewPhoto.querySelector('#test2').style.borderRadius = '20px';
                                                break;
                                            case 3 : previewPhoto.querySelector('#test3').src = e.target.result;
                                                previewPhoto.querySelector('#test3').style.borderRadius = '20px';
                                                break;
                                            case 4 : previewPhoto.querySelector('#test4').src = e.target.result;
                                                previewPhoto.querySelector('#test4').style.borderRadius = '20px';
                                                break;

                                        }

                                    }
                                }

                                function photoDelete(){

                                    if(confirm("사진을 전체 삭제하시겠습니까?")==true) {
                                        const inputPhoto = document.querySelectorAll('.photo_select');
                                        const previewPhoto = document.querySelectorAll('.selected_photobox');

                                        inputPhoto.forEach( item => {
                                            item.value = '';
                                        })

                                        previewPhoto.forEach(item => {
                                            const image = item.querySelector('img');
                                            image.src = '/img/photo_select_img.png';
                                            image.removeAttribute('srcset');

                                        })
                                    }
                                    else{
                                        return false;
                                    }


                                }


                            </script>
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                var errorMessage = /*[[ ${errorMessage} ]]*/ '';
                                if(errorMessage) {
                                    alert(errorMessage);
                                }
                                /*]]>*/
                            </script>
                        </div>

                        <div>
                            <!-- 옵션 -->
                            <div class="portfolio_contents">
                                <!-- 옵션 내용 -->
                                <strong class="portfolio_contents_left">옵션<span class="star">*</span></strong>
                                <div class="portfolio_contents_right">
                                    <div class="portfolio_option">
                                        <div class="portfolio_optionnum">
                                            <!-- OPTION1 -->
                                            <strong>OPTION 1</strong>
                                        </div>
                                        <div class="portfolio_optionbox_wrap">
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">가격</label>
                                                <div class="input_group portfolio_optionbox_contents">
                                                    <input type="number" class="input" id="optionPrice1" name="optionPrice1" th:value="${allOption?.optionPrice1}">
                                                    <span class="input_suffix">원</span>
                                                </div>
                                            </div>
                                            <div  class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">옵션 설명</label>
                                                <input type="text" class="input portfolio_optionbox_contents" id="optionInfo1" name="optionInfo1" maxlength="101" th:value="${allOption?.optionInfo1}">
                                            </div>
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">수정 횟수</label>
                                                <input type="number" class="input portfolio_optionbox_contents" id="optionFix1" name="optionFix1"  th:value="${allOption?.optionFix1}">
                                            </div>
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">작업 소요 날짜</label>
                                                <div class="input_group portfolio_optionbox_contents">
                                                    <input type="number" class="input" id="optionDt1" name="optionDt1" th:value="${allOption?.optionDt1}">
                                                    <span class="input_suffix">일</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="portfolio_option">
                                        <div class="portfolio_optionnum">
                                            <!-- OPTION1 -->
                                            <strong>OPTION 2</strong>
                                        </div>
                                        <div class="portfolio_optionbox_wrap">
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">가격</label>
                                                <div class="input_group portfolio_optionbox_contents">
                                                    <input type="number" class="input" id="optionPrice2" name="optionPrice2" th:value="${allOption?.optionPrice2}">
                                                    <span class="input_suffix">원</span>
                                                </div>
                                            </div>
                                            <div  class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">옵션 설명</label>
                                                <input type="text" class="input portfolio_optionbox_contents" id="optionInfo2" name="optionInfo2" maxlength="101" th:value="${allOption?.optionInfo2}">
                                            </div>
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">수정 횟수</label>
                                                <input type="number" class="input portfolio_optionbox_contents" id="optionFix2" name="optionFix2" th:value="${allOption?.optionFix2}">
                                            </div>
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">작업 소요 날짜</label>
                                                <div class="input_group portfolio_optionbox_contents">
                                                    <input type="number" class="input" id="optionDt2" name="optionDt2" th:value="${allOption?.optionDt2}">
                                                    <span class="input_suffix">일</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="portfolio_option">
                                        <div class="portfolio_optionnum">
                                            <!-- OPTION1 -->
                                            <strong>OPTION 3</strong>
                                        </div>
                                        <div class="portfolio_optionbox_wrap">
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">가격</label>
                                                <div class="input_group portfolio_optionbox_contents">
                                                    <input type="number" class="input" id="optionPrice3" name="optionPrice3" th:value="${allOption?.optionPrice3}">
                                                    <span class="input_suffix">원</span>
                                                </div>
                                            </div>
                                            <div  class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">옵션 설명</label>
                                                <input type="text" class="input portfolio_optionbox_contents" id="optionInfo3" name="optionInfo3" maxlength="101" th:value="${allOption?.optionInfo3}">
                                            </div>
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">수정 횟수</label>
                                                <input type="number" class="input portfolio_optionbox_contents" id="optionFix3" name="optionFix3" th:value="${allOption?.optionFix3}">
                                            </div>
                                            <div class="portfolio_optionbox">
                                                <label class="portfolio_optionbox_title">작업 소요 날짜</label>
                                                <div class="input_group portfolio_optionbox_contents">
                                                    <input type="number" class="input" id="optionDt3" name="optionDt3" th:value="${allOption?.optionDt3}">
                                                    <span class="input_suffix">일</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="portfolio_contents">
                            <!-- 판매자 정보 -->

                            <div class="portfolio_contents_left">
                                <!-- 타이틀 -->
                                <strong>판매자 정보</strong>
                            </div>
                            <div class="portfolio_contents_right">
                                <!-- 판매자 내용 -->
                                <div class="portfolio_optionbox">
                                    <span class="portfolio_optionbox_title">연락 가능 시간</span>
                                    <textarea class="portfolio_optionbox_contents textarea calltime" id="portContactDt" name="portContactDt" maxlength="101" oninput="validateContactDt()">[[${portfolio?.portContactDt}]]</textarea>
                                </div>
                                <div class="portfolio_optionbox">
                                    <span class="portfolio_optionbox_title">소개</span>
                                    <textarea class="portfolio_optionbox_contents textarea introduce" id="memberInfo" maxlength="1001" name="memberInfo" oninput="validateMemberInfo()" >[[${portfolio?.memberInfo}]]</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio_button">
                        <!-- 버튼 -->
                        <input type="submit" id="portfolioRegist" value="등록하기"  class="portfolio_btn regist">
                        <input type="button" value="취소하기"  class="portfolio_btn cancel" onclick="goBack()" >

                        <!--                    <button class="portfolio_btn cancel" style="color:white;"><a th:href="/">취소하기</a></button>-->
                        <!-- 다른 폼 필드 추가 -->
                    </div>

                </div>

            </div>

        </div>

    </form>

    <script>

        function goBack(){
            window.history.back();
            return true;
        }



    </script>
</th:block>
</html>